
<ul class="list-group py-3">
  <!-- <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item">
    Home Page
  </li>
  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">
    Contact Page
  </li> -->

  <li routerLink="countries/by-capital" routerLinkActive="active"
    class="list-group-item py-3 px-1">
    Capital
  </li>
  <li routerLink="countries/by-country" routerLinkActive="active"
    class="list-group-item py-3 px-1">
    Country
  </li>
  <li routerLink="countries/by-region" routerLinkActive="active"
  class="list-group-item py-3 px-1">
    Region
  </li>
</ul>
