
<div class="p-1 text-info">
  <h3>CountryApp</h3>
</div>

<hr>
<ul class="list-group py-3">
  <!-- <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item">
    Home Page
  </li>
  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">
    Contact Page
  </li> -->
  <li routerLink="countries/by-capital" routerLinkActive="active"
    class="list-group-item py-3">
    By Capital
  </li>
  <li routerLink="countries/by-country" routerLinkActive="active"
    class="list-group-item py-3">
    By Country
  </li>
  <li routerLink="countries/by-region" routerLinkActive="active"
  class="list-group-item py-3">
    By Region
  </li>
</ul>
