<h2>By region/continent name</h2>
<hr>

<div class="row">
  <div class="row justify-content-around">
    <!-- SearchBox -->
    <!-- <shared-search-box (onDebounce)="searchByRegion($event)"
    placeholder="Search by Region name"></shared-search-box> -->
    <button *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      class="col btn m-1 "
      [ngClass]="{'btn-secondary': (selectedRegion === region )}">
      {{region}}
    </button>

  </div>
</div>

<div class="row">
  <div class="col">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
