<div>
  <h2>By capital</h2>
  <hr>
</div>

<div class="row">
  <div class="col">
    <!-- (onValue)="searchByCapital($event)" -->
    <!-- SearchBox -->
    <shared-search-box
    (onDebounce)="searchByCapital($event)"
    [initialValueSB] = "initialValue"
    placeholder="Search by Capital"></shared-search-box>

  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
